<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnStrDKostov" connectionString="server=localhost;database=sexStore;uid=root;pooling=true" providerName="MySql.Data.MySqlClient" />    
    <add name="MySQLConnStrGYaramov" connectionString="server=localhost;database=sexStore;uid=root;;pooling=true" providerName="MySql.Data.MySqlClient" /><add name="MySQLConnStrGYaramovUser" connectionString="server=localhost;database=sexStore;uid=user;pooling=true" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>